<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Restaurantapp"
        tools:targetApi="31">

        <activity
            android:name=".OrderUserActivity"
            android:exported="false"
            android:parentActivityName=".OrderListActivity"/>

        <activity
            android:name=".OrderAddUserActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity"/>

        <activity
            android:name=".OrderListActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity"/>

        <activity
            android:name=".OrderAddEmployeeActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity"/>

        <activity
            android:name=".InformationsActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity"/>

        <activity
            android:name=".InformationsAddActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity"/>

        <activity
            android:name=".DishActivity"
            android:exported="false"
            android:parentActivityName=".MenuActivity"/>

        <activity
            android:name=".MenuActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity"/>

        <activity
            android:name=".AddToMenuActivity"
            android:exported="false"
            android:parentActivityName=".EmployeeActivity"/>

        <activity
            android:name=".EmployeeActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"/>

        <activity
            android:name=".UserActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"/>

        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            android:parentActivityName=".LoginActivity"/>


        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity"/>
        
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>